/* Background & font */
.general {
  margin: 10px;
  padding: 0;
  background-color: black;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  background-image: linear-gradient(#0C0552, #120567);
  color: #f2f2f2;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
} 
.general h2 {
  display: flex;
  justify-content: center;
  font-family: 'Allura', cursive;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.general h2:hover {
  text-decoration: underline;
}
/* Barras separacion */
hr {
  border: 2px solid #f2f2f2;
  box-shadow: 0 0 10px #f2f2f2;
  opacity: 1;
}

/* Barra navegacion y link argprog */
.menu-link-sup {
  display: flex;
  flex-direction: column;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.argprog {
  display: flex;
  align-items: center;
}

.argprog .argprog-link img {
  height: auto;
  width: 200px;
}

.argprog .yoprog a {
  text-decoration: none;
  color: #f2f2f2;
}
/* Background topnav */
.topnav {
  overflow: hidden;
}
/* Estilo link topnav */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Color links con mouse encima */
.topnav a:hover {
  background-color: #f2f2f2;
  color: rgb(0, 5, 48);
  text-decoration: none;
}

/* Color iconos links con mouse encima */
.topnav a:hover i {
  background-color: #f2f2f2;
  color: rgb(0, 5, 48);
}

/* Background link activo 
.topnav a.active {
  background-color: #f2f2f2;
  color: rgb(0, 5, 48);
}

 Background icono link activo 
.topnav a.active i {
  background-color: #f2f2f2;
  color: rgb(0, 5, 48);
} */

/* Oculta enlaces que abren cierran en topnav con pantallas pequeñas */
.topnav .icon {
  display: none;
}

/* Cuando la pantalla tenga menos de 600 píxeles de ancho, oculta todos los enlaces, excepto el primero ("Inicio"). Mostrar el enlace que contiene debe abrir y cerrar el topnav (.icon) */
@media screen and (max-width:800px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

 /* La clase "responsiva" se agrega a la navegación superior con JavaScript cuando el usuario hace clic en el icono. Esta clase hace que la navegación superior se vea bien en pantallas pequeñas (muestra los enlaces verticalmente en lugar de horizontalmente) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

/* Perfi */
.principal {
  border: 2px outset white;
  margin: 10px;
  display: flex;
  height: 500px;
  background-image: url(/img/fondo-perfil.png);
  background-position: 5% 30%;
  box-shadow: 0 0 10px #f2f2f2, 0 0 30px #f2f2f2;
}

.container.perfil {
  flex-direction: row;
  justify-content: left;
  padding: 0;
}

.row-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-perfil {
  box-shadow: 0 0 10px #f2f2f2, 0 0 30px #f2f2f2;
  border-radius: 50%;
  width: 154px;
}

.imagen-perfil img {
  width: 150px;
  border-radius: 50%;
}

.principal h2 {
  letter-spacing: 4px;
  font-size: 38px;
}

.nombre {
  color: white;
  font-size: 20px;
  padding-top: 15px;
}

.titulo-dev {
  text-align: center;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0;
  font-family: 'Orbitron', sans-serif;
}

/* Bloques certificados titulos */
.container .row.oficio {
  margin: 0;
  padding: 35px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container .row.oficio .col {
  display: flex;
  height: auto;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .row.oficio .col img {
  padding: 10px;
  width: 200px;
  height: 200px;
  background-color: #f2f2f248;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}

.container .row.oficio .col img:hover {
  border: 2px solid #f2f2f2;
  box-shadow: 0 0 10px #f2f2f2, 0 0 30px #f2f2f2;
}

.container .row.oficio .col h3 {
  font-size: 25px;
  padding-top: 15px;
}

/* About */
#about {
  margin: 0;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Experiencia laboral */
.container.laboral {
  width: 100%;
  margin: 0;
  padding-top: 20px;
}
.container.laboral .row.laboral {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container.laboral .row.laboral .col {
  display: flex;
}
.img-lab {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container.laboral .row.laboral .col:hover .img-lab {
  opacity: 0.8;
  transform: translate(0px, -100px);
}

.middle {
  transition: .5s ease;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
}

.container.laboral .row.laboral .col:hover .middle {
  opacity: 1;
}

.text-lab {
  background-color: #f2f2f2;
  color: rgb(0, 5, 48);
  font-size: 17px;
  padding: 5px;
}

/* Formacion educativa */
.container .row.educacion {
  margin: 0;
  padding: 35px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container .row.educacion .col {
  display: flex;
  height: auto;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .row.educacion .col img {
  padding: 10px;
  width: 200px;
  height: 200px;
  background-color: #f2f2f248;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}

.container .row.educacion .col h3 {
  padding-top: 20px;
  font-size: 20px;
}

/* Skill progrsivo */
.my-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .row {
  gap: 50px;
}

.container .col {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .col .progress {
  position: relative;
  width: 150px;
  height: 150px;
}

.container .col .progress svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.container .col .progress svg circle {
  width: 150px;
  height: 150px;
  fill: transparent;
  stroke-width: 3;
  stroke: black;
  transform: translate(5px,5px);
}

.container .col .progress svg circle:nth-child(2) {
  stroke: var(--color);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num) / 100));
  opacity: 0;
  animation: spam 2s alternate-reverse infinite;
  animation-delay: 2s;
}

@keyframes spam {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.punto {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: movpunto 2s linear forwards;
}

@keyframes movpunto {
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
  
}
.punto::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color);
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
}

.numero {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numero h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 700;
  color: var(--color);
}

.numero h2 span {
  font-weight: 500;
  font-size: 1em;
}

.numero p {
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#proyects {
  margin: 0;
  padding: 0;
}
/*Pie de página */
.footer a {
  text-decoration: none;
  color: #f2f2f2;
}